@import "tailwindcss";

:root {
  --gray: #6B6B6B;
  --lgray: #F9F9F9;
  --blue: #4d7aff;
  --black: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --breakpoint-1080px: 1080px;
  --breakpoint-904px: 904px;
  --breakpoint-900px: 900px;
  --breakpoint-800px: 800px;
  --breakpoint-552px: 552px;
  --breakpoint-728px: 728px;
  --breakpoint-368px: 368px;
}