@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --gray: #6B6B6B;
  --lgray: #F9F9F9;
  --blue: #4d7aff;
  --black: #ffffff;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@theme {
  --breakpoint-1080px: 1080px;
  --breakpoint-904px: 904px;
  --breakpoint-900px: 900px;
  --breakpoint-800px: 800px;
  --breakpoint-552px: 552px;
  --breakpoint-728px: 728px;
  --breakpoint-368px: 368px;
}