@import "tailwindcss";

:root {
    tab-size: 4;
}

body, button, input, textarea {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
   
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    min-height: 100vh;
}


html {
    line-height: 1.25;
    font-size: 16px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    display: block;
    font-size: 2.125rem;
    margin-top: 42px;
    margin-bottom: 16px;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.4;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 10px;
}

img {
    overflow-clip-margin: content-box;
    overflow: visible;
}

img, video {
    /* max-width: 100%; */
    height: auto;
    display: block;
    vertical-align: middle;
}

@theme {
  --breakpoint-1080px: 1080px;
  --breakpoint-904px: 904px;
  --breakpoint-900px: 900px;
  --breakpoint-800px: 800px;
  --breakpoint-552px: 552px;
  --breakpoint-728px: 728px;
  --breakpoint-368px: 368px;
   --breakpoint-350px: 350px;
}

.header-lp {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #fff;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: background 0.3s ease;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .header-lp {
    background: rgba(255, 255, 255, 0.7);
  }
}

.header-lp::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  box-shadow:
    rgb(255 255 255) 0px -1px 0px,
    rgba(0, 0, 0, 0.05) 0px 3px 6px 0px,
    rgba(0, 0, 0, 0.1) 0px 0.5px 0px 0px;
  pointer-events: none;
  opacity: calc(var(--scrollview-inset-value, 0) / 100);
  transition: opacity 0.2s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}


/* .header-lp {
    position: sticky;
    top: 0px;
    z-index: 9999;
    background: #fff;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .header-lp {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
}

.header-lp::before {
    content: "";
    position: absolute;
    inset: 0px;
    z-index: 0;
    box-shadow: rgb(255, 255, 255) 0px -1px 0px, rgba(0, 0, 0, 0.05) 0px 3px 6px 0px, rgba(0, 0, 0, 0.1) 0px 0.5px 0px 0px;
    pointer-events: none;
    opacity: calc((var(--scrollview-inset-value, 0) / 100));
    transition: opacity 0.2s ease-in-out;
} */


.landing {
    overflow-x: hidden;
}

.toolbar {
    height: 64px;
    display: flex;
    align-items: center;
}

.toolbar menu.nav {
    flex: 1;
    justify-content: center;
}

.nav li a:hover {
    background-color: #f5f5f5;
}


.dropdownButton {
    display: block;
    text-align: right;
    background: rgba(0, 0, 0, 0.075);
    border-radius: 16px;
    padding: 5px 10px;
    margin-left: 16px;
}

@media only screen and (min-width: 801px) {
    .dropdownButton {
        display: none;
    }
}

.dropdownButton select {
    font-weight: 500;
    border: 0px;
    background: transparent;
}

select option:checked {
  /* background-color: blue; */
  /* color: white; */
}

.toolbar menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .toolbar menu {
        display: none;
    }
}

menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.toolbar menu li {
    padding: 0;
    margin: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.toolbar menu li a {
    color: rgb(51, 51, 51);
    font-weight: 500;
    padding: 4px 10px;
    margin: 0px 2px;
    border-radius: 3px;
    display: flex
;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .blob {
        background-position: -10px 100% !important;
    }
}

.left.blob {
    background-position: 53vw 25px;
}

.right .grid-container {
    grid-template-columns: 475px 1fr;
    justify-items: flex-end;
}

.right .grid-container > *:first-child {
    order: 2;
}

.teamwork {
    background-image: url(/images/blob-teamwork.jpg);
    background-size: 619px 507px;
}

.glance {
    background-image: url(/images/blob-glance.jpg);
    background-size: 893px 511px;
    background-position: calc(50vw - 893px) 0;
}

.blob {
    background-repeat: no-repeat;
}

.backup {
    background-image: url(/images/blob-backup.jpg);
    background-size: 625px 518px;
    background-position: calc(50vw - 625px) 0;
}


.intro {
    background-image: url(/images/blob-intro.jpg);
    background-size: 731px 622px;
}

.intro video {
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 0.5px, rgba(0, 0, 0, 0.1) 0px 12px 24px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    /* width: 858px; */
    /* height: 484px; */
    /* aspect-ratio: auto 858 / 484; */
    object-fit: cover;
    object-position: left;
}

@media only screen and (max-width: 1000px) {
.intro video {
    width: 100% !important;
    height: auto !important;
    }
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: visible;
}

.left .grid-container {
    grid-template-columns: 450px 1fr;
}


.intro .grid-container{
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    grid-template-columns: 475px 1fr;
}


@media only screen and (max-width: 1000px) {
    .grid-container {
        max-width: 100%;
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
    }
}

/* .grid-container {
    display: grid; 
    grid-template-rows: auto;
    grid-column-gap: 75px;
    grid-row-gap: 20px;
    max-width: 1003.75px;
    padding: 3.125rem 1.875rem;
    margin: 0 auto;
} */

.grid-container {
    display: grid;
    grid-template-rows: auto;
    gap: 20px 75px;
    max-width: 1003.75px;
    padding: 3.125rem 1.875rem;
    margin: 0px auto;
}


@media only screen and (max-width: 1000px) {
    .grid-container > *:first-child {
        order: 0 !important;
    }
}

.landing h1 {
    font-size: 3.125rem;
    line-height: 1.12;
    font-weight: 600;
    text-align: left;
}

.landing h2 {
    margin-top: 30px;
}

.message h2 span {
    font-weight: normal;
}

.landing h4 {
    font-size: 1.5rem;
    line-height: 1.42;
    font-weight: normal;
}

.intro .buttons1C0r {
    padding: 9px 0;
}

.intro .buttons1C0r a {
    margin-right: 10px;
}
.buttonYAU-[data-appearance='primary'] {
    background: #0b7ed0;
    color: #fff;
}
.buttonYAU-[data-size='big'] {
    font-size: 1.125rem;
    padding: 10px 24px;
}
.buttonYAU- {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 0;
    -webkit-appearance: none;
    box-shadow: none;
    font-weight: 550;
    border-radius: 8px;
    padding: 8px 14px;
    transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
    display: inline-flex
;
}
a {
    text-decoration: none;
    color: #0b7ed0;
}

.buttonYAU-[data-appearance=''] {
    color: #0b7ed0;
}

.message {
    padding: 20px 0;
    max-width: 760px;
    margin: 0 auto;
}

.header {
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 30px;
  height: 64px;
  display: flex;
  align-items: center;
}

.header menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header li a {
  display: block;
  color: #333;
  font-weight: 500;
  padding: 4px 10px;
  margin: 0 2px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.messageBg {
    background-repeat: no-repeat;
    background-image: url(/images/blob-devices-right.jpg);
    background-size: 100%;
    position: absolute;
    left: calc(50vw - 1130px);
    margin-top: -170px;
    width: 631px;
    height: 532px;
    z-index: -1;
}

.content[data-center] {
    text-align: center;
}
.content {
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 30px;
}

.organize {
    background-image: url(/images/blob-organize.jpg);
    background-size: 616px 534px;
}

.sections .item[data-active="true"] {
    max-height: 130px;
}

@media only screen and (max-width: 1000px) {
    .sections .item[data-active="true"] {
        max-height: 100%;
    }
}

@media only screen and (min-width: 1001px) {
    .sections .item .preview {
        display: none;
    }
}
.sections .item .preview {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: auto;
}

.sections .item[data-active="true"] .info p {
    opacity: 1 !important;
    padding: 0;
    margin: 0;
}

.sections {
    margin-top: 30px;
}

.sections .item .about .info {
    flex: 1;
    margin-left: 12px;
}

.sections .item .about .info .title {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 5px;
}

.sections .item .about .info p {
    color: #1a1a1a;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    will-change: opacity;
}

.landing p {
    line-height: 1.375;
}

.sections .item[data-active="true"] .info p {
    opacity: 1;
}

.sections .item .about .info p {
    color: #1a1a1a;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    will-change: opacity;
}

.landing p {
    line-height: 1.375;
}

p {
    margin: 0;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media only screen and (max-width: 1000px) {
    .heroImages {
        display: none;
    }
}


.heroImages {
    width: 100%;
    height: 500px;
    position: relative;
   
}




.organize .sections .item[data-active="true"] {
    background-color: #fff5e1;
    color: #ad710d;
}

.glance .sections .item[data-active="true"] {
    background-color: #fef1f0;
    color: #e54837;
}

.backup .sections .item[data-active="true"] {
    background-color: #effaf7;
    color: #069d94;
}

.teamwork .sections .item[data-active="true"] {
    background-color: #f6f1fc;
    color: #7b34dd;
}


.sections .item {
    padding: 12px;
    margin-bottom: 10px;
    color: #1a1a1a;
    max-height: 44px;
    overflow: hidden;
    border-radius: 4px;
    cursor: default;
    transition: max-height 0.2s linear, background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    will-change: max-height, background, color, box-shadow;
}

.sections .item .about {
    display: flex
;
}


.sections .item .preview {
    display: none;
}


@media only screen and (max-width: 1000px) {
    .sections .item .preview {
        margin-top: 20px;
        display: block;
        width: 100%;
        height: auto;
    }
}

.heroImages .image[data-active="true"] {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.4s;
}

.right .heroImages .image {
    right: 0;
}

.left .heroImages .image {
    left: 0;
}

.heroImages .image {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(5px);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    will-change: opacity, transform;
}

/* .glance .image {
    width: 1035px;
} */

.right .heroImages .image img {
    object-fit: cover;
    object-position: right;
    /* width: 100%; */
    /* width: 1056px;
    height: 500px;
    aspect-ratio: 1056 / 500; */
}

.left .heroImages .image img {
    object-fit: cover;
    object-position: left;
    /* width: 1056px;
    height: 500px;
    aspect-ratio: 1056 / 500; */
}

@media only screen and (max-width: 1000px) {
    .columns {
        grid-row-gap: 40px;
    }
}

.columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 100px;
    padding-bottom: 40px;
}

@media only screen and (min-width: 1001px) {
    .morecard-item, .columns {
        grid-template-columns: 1fr 1fr;
    }
}

/* .columns h2 {
    font-size: 2.25rem;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
} */

.landing blockquote {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.45;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

.link {
    font-weight: 500;
    margin-right: 24px;
}

.link:hover{
    text-decoration: underline;
}

.link svg {
    margin-right: 6px;
    vertical-align: -2px;
}

.money{
    opacity: 0.7;
    vertical-align: -3px;
    margin: 0 5px;
    /* line-height: 50.4px;
    color: #000;
    display: flex;
    align-items: center; */
}


svg {
    fill: currentcolor;
}

.morecard-item {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin: 1.875rem 0;
}

@media only screen and (min-width: 1001px) {
    .morecard-item {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.morecard-item .item {
    display: flex;
    padding: 12px;
    color: #000;
    border-radius: 4px;
}

.morecard-item .item .info {
    flex: 1;
    margin-left: 12px;
}

.morecard-item .item .info .title {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.morecard-item .item .info p {
    color: #1a1a1a;
    margin: 0 !important;
    padding: 0 !important;
}

.footer {
    margin-top: 24px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
    padding: 24px 0px;
}

.footer menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer menu li {
    display: block;
    padding: 0px;
    margin: 0px;
}

.footer menu li a {
    display: block;
    color: rgb(51, 51, 51);
    font-size: 1rem;
    font-weight: 500;
    padding: 4px 0px;
}

.copy {
    font-size: 0.875rem;
    line-height: 140%;
    color: #808080;
    display: flex;
}

@media only screen and (max-width: 700px) {
    .copy {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

.copy .logo {
    margin-right: 16px;
}

.copy .about {
    /* flex: 1 1 0%; */
    flex: 1;
}

.copy h5 {
    font-size: 1rem;
    margin: 0px 0px 1px;
    display: block;
    font-weight: 600;
    padding: 0px;
}

.copy .about .twitterIcon {
    vertical-align: -2px;
    margin-right: 6px;
    margin-top: 2px;
}

.copy a {
    color: inherit;
    margin-right: 16px;
    text-decoration: underline;
}

.layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    column-gap: 70px;
}

@media only screen and (max-width: 700px) {
    .layout {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 1.875rem;
        grid-row-gap: 1.875rem;
    }
}

.copy p {
    margin-bottom: 10px;
    margin-top: 0 !important;
    padding: 0 !important;
}

.message h4 {
    margin-top: 0;
}

.message blockquote {
    margin: 0 auto;
    max-width: 630px;
}

.message blockquote a {
    font-weight: 500;
}

.message blockquote a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
    .devices .devicesImage {
        width: 100%;
        height: auto;
    }
}

/* @media only screen and (min-width: 1001px) {
    .devices {
        background-size: 599px 589px, 631px 532px;
        background-position: calc(50vw - 1100px) 80px, calc(50vw + 550px) 20px;
    }
} */




.devices {
    background-repeat: no-repeat;
    background-image: url(/images/blob-devices-left.jpg), url(/images/blob-devices-right.jpg);
    background-size: 599px 589px, 631px 532px;
    background-position: calc(50vw - 1100px) 80px, calc(50vw + 550px) 20px;
}

@media only screen and (max-width: 1000px) {
    .devices {
        background-size: 100%;
        background-position: -70vw bottom, 70vw bottom;
    }
}

.footer li a:hover {
    text-decoration: underline;
}

.media-container {
  display: flex;
  gap: 1rem; /* spasi antar media */
  flex-wrap: wrap; /* biar gak numpuk saat container kecil */
  object-fit: cover;
}

@media (max-width: 1000px) {
    .media-container {
  object-position: center;
}
}

@media (max-width: 350px) {
    .imgcard h2 {
        font-size: 29.25px;
    }
}

@media (max-width: 350px) {
    .imgcard blockquote {
        font-size: 14.625px;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 14.625px !important;
    }
}

@media (max-width: 350px) {
    .imgcarditem-desc {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .linkcard h2 {
        font-size: 29.25px;
    }
}

@media (max-width: 350px) {
    .linkcard blockquote {
        font-size: 14.625px;
    }
}

@media (max-width: 350px) {
    .devices h2 {
        font-size: 29.25px;
    }
}

@media (max-width: 350px) {
    .devices blockquote {
        font-size: 14.625px;
    }
}

@media (max-width: 350px) {
    .morecard {
        font-size: 29.25px;
    }
}

@media (max-width: 350px) {
    .info p {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .footer menu li a {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .about {
        font-size: 11.375px;
    }
}

@media (max-width: 350px) {
    .about h5 {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .mediacard h1 {
        font-size: 40.625px;
    }
}

@media (max-width: 350px) {
    .mediacard h4 {
        font-size: 19.5px;
    }
}

@media (max-width: 350px) {
    .buttonYAU-[data-size='big'] {
        font-size: 14.625px;
    }
}

@media (max-width: 350px) {
    .message h2 {
        font-size: 29.25px;
    }
}

@media (max-width: 350px) {
    .message h4 {
        font-size: 19.5px;
    }
}

@media (max-width: 350px) {
    .message blockquote {
        font-size: 14.625px;
    }
}