@import "tailwindcss";

:root {
    tab-size: 4;
}

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

html {
    line-height: 1.25;
    font-size: 16px;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    display: block;
    font-size: 2.125rem;
    margin-top: 42px;
    margin-bottom: 16px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

img {
    overflow-clip-margin: content-box;
    overflow: visible;
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

@theme {
  --breakpoint-1080px: 1080px;
  --breakpoint-904px: 904px;
  --breakpoint-900px: 900px;
  --breakpoint-800px: 800px;
  --breakpoint-552px: 552px;
  --breakpoint-728px: 728px;
  --breakpoint-368px: 368px;
}

.header1jtx {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: #fff;
}

.contentoxL5 {
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 30px;
}

.toolbar2CHY {
    height: 64px;
    display: flex;
    align-items: center;
}

.toolbar2CHY menu.nav4SBj {
    flex: 1;
    justify-content: center;
}

.nav4SBj li a:hover {
    background-color: #f5f5f5;
}


.hamburgerButton1pOy {
    display: block;
    text-align: right;
    background: rgba(0, 0, 0, 0.075);
    border-radius: 16px;
    padding: 5px 10px;
    margin-left: 16px;
}

@media only screen and (min-width: 801px) {
    .hamburgerButton1pOy {
        display: none;
    }
}

.hamburgerButton1pOy select {
    font-weight: 500;
    border: 0px;
    background: transparent;
}


.toolbar2CHY menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .toolbar2CHY menu {
        display: none;
    }
}

menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.toolbar2CHY menu li {
    padding: 0;
    margin: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.toolbar2CHY menu li a {
    display: block;
    color: #333;
    font-weight: 500;
    padding: 4px 10px;
    margin: 0 2px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .blob1U5Q {
        background-position: -10px 100% !important;
    }
}

.left1x3n.blob1U5Q {
    background-position: 53vw 25px;
}

.right3x0m .grid178A {
    grid-template-columns: 475px 1fr;
    justify-items: flex-end;
}

.right3x0m .grid178A > *:first-child {
    order: 2;
}

.teamwork1zJz {
    background-image: url(/images/blob-teamwork.jpg);
    background-size: 619px 507px;
}

.glanceKYug {
    background-image: url(/images/blob-glance.jpg);
    background-size: 893px 511px;
    background-position: calc(50vw - 893px) 0;
}

.blob1U5Q {
    background-repeat: no-repeat;
}

.backup2aOH {
    background-image: url(/images/blob-backup.jpg);
    background-size: 625px 518px;
    background-position: calc(50vw - 625px) 0;
}


.intro2RCL {
    background-image: url(/images/blob-intro.jpg);
    background-size: 731px 622px;
}

.intro2RCL video {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.15), 0px 12px 24px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    width: 858px;
    height: 484px;
    aspect-ratio: auto 858 / 484;
    object-fit: cover;
    object-position: left;
}

@media only screen and (max-width: 1000px) {
.intro2RCL video {
    width: 100%;
    height: auto;
    }
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: visible;
}

.intro2RCL .grid178A {
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    grid-template-columns: 475px 1fr;
}

.left1x3n .grid178A {
    grid-template-columns: 450px 1fr;
}

@media only screen and (max-width: 1000px) {
    .grid178A {
        max-width: 100%;
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
    }
}

.grid178A {
    display: grid; 
    grid-template-rows: auto;
    grid-column-gap: 75px;
    grid-row-gap: 20px;
    max-width: 1003.75px;
    padding: 3.125rem 1.875rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .grid178A > *:first-child {
        order: 0 !important;
    }
}

.landing2Gps h1 {
    font-size: 3.125rem;
    line-height: 1.12;
    font-weight: 600;
    text-align: left;
}

.landing2Gps h2 {
    margin-top: 30px;
}

.landing2Gps h4 {
    font-size: 1.5rem;
    line-height: 1.42;
    font-weight: normal;
}

.intro2RCL .buttons1C0r {
    padding: 9px 0;
}

.intro2RCL .buttons1C0r a {
    margin-right: 10px;
}
.buttonYAU-[data-appearance='primary'] {
    background: #0b7ed0;
    color: #fff;
}
.buttonYAU-[data-size='big'] {
    font-size: 1.125rem;
    padding: 10px 24px;
}
.buttonYAU- {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 0;
    -webkit-appearance: none;
    box-shadow: none;
    font-weight: 550;
    border-radius: 8px;
    padding: 8px 14px;
    transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
    display: inline-flex
;
}
a {
    text-decoration: none;
    color: #0b7ed0;
}

.buttonYAU-[data-appearance=''] {
    color: #0b7ed0;
}
.buttonYAU-[data-size='big'] {
    font-size: 1.125rem;
    padding: 10px 24px;
}

.message2nN3 {
    padding: 20px 0;
    max-width: 760px;
    margin: 0 auto;
}

.header {
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 30px;
  height: 64px;
  display: flex;
  align-items: center;
}

.header menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header li a {
  display: block;
  color: #333;
  font-weight: 500;
  padding: 4px 10px;
  margin: 0 2px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.messageBg3HL1 {
    background-repeat: no-repeat;
    background-image: url(/images/blob-devices-right.jpg);
    background-size: 100%;
    position: absolute;
    left: calc(50vw - 1130px);
    margin-top: -170px;
    width: 631px;
    height: 532px;
    z-index: -1;
}

.contentoxL5[data-center] {
    text-align: center;
}
.contentoxL5 {
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 30px;
}

.organize1xl3 {
    background-image: url(/images/blob-organize.jpg);
    background-size: 616px 534px;
}

.sectionsmNlL .item2omU[data-active="true"] {
    max-height: 130px;
}

@media only screen and (max-width: 1000px) {
    .sectionsmNlL .item2omU[data-active="true"] {
        max-height: 100%;
    }
}

@media only screen and (min-width: 1001px) {
    .sectionsmNlL .item2omU .preview1Qz9 {
        display: none;
    }
}
.sectionsmNlL .item2omU .preview1Qz9 {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: auto;
}

.sectionsmNlL .item2omU[data-active="true"] .info1x6k p {
    opacity: 1 !important;
    padding: 0;
    margin: 0;
}

.sectionsmNlL {
    margin-top: 30px;
}

.sectionsmNlL .item2omU .about2J0P .info1x6k {
    flex: 1;
    margin-left: 12px;
}

.sectionsmNlL .item2omU .about2J0P .info1x6k .title-ME6 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 5px;
}

.sectionsmNlL .item2omU .about2J0P .info1x6k p {
    color: #1a1a1a;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    will-change: opacity;
}

.landing2Gps p {
    line-height: 1.375;
}

.sectionsmNlL .item2omU[data-active="true"] .info1x6k p {
    opacity: 1;
}

.sectionsmNlL .item2omU .about2J0P .info1x6k p {
    color: #1a1a1a;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    will-change: opacity;
}

.landing2Gps p {
    line-height: 1.375;
}

p {
    margin: 0;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.heroImages1RTg {
    width: 100%;
    height: 500px;
    position: relative;
   
}

@media only screen and (max-width: 1000px) {
    .heroImages1RTg {
        display: none;
    }
}


.organize1xl3 .sectionsmNlL .item2omU[data-active="true"] {
    background-color: #fff5e1;
    color: #ad710d;
}

.glanceKYug .sectionsmNlL .item2omU[data-active="true"] {
    background-color: #fef1f0;
    color: #e54837;
}

.backup2aOH .sectionsmNlL .item2omU[data-active="true"] {
    background-color: #effaf7;
    color: #069d94;
}

.teamwork1zJz .sectionsmNlL .item2omU[data-active="true"] {
    background-color: #f6f1fc;
    color: #7b34dd;
}


.sectionsmNlL .item2omU {
    padding: 12px;
    margin-bottom: 10px;
    color: #1a1a1a;
    max-height: 44px;
    overflow: hidden;
    border-radius: 4px;
    cursor: default;
    transition: max-height 0.2s linear, background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    will-change: max-height, background, color, box-shadow;
}

.sectionsmNlL .item2omU .about2J0P {
    display: flex
;
}


.sectionsmNlL .item2omU .preview1Qz9 {
    display: none;
}


@media only screen and (max-width: 1000px) {
    .sectionsmNlL .item2omU .preview1Qz9 {
        margin-top: 20px;
        display: block;
        width: 100%;
        height: auto;
    }
}

.heroImages1RTg .img2RPn[data-active="true"] {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.4s;
}

.right3x0m .heroImages1RTg .img2RPn {
    right: 0;
}

.left1x3n .heroImages1RTg .img2RPn {
    left: 0;
}

.heroImages1RTg .img2RPn {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(5px);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    will-change: opacity, transform;
}

.right3x0m .heroImages1RTg .img2RPn img {
    object-fit: cover;
    object-position: right;
    width: 1056px;
    height: 500px;
    aspect-ratio: 1056 / 500;
}

.left1x3n .heroImages1RTg .img2RPn img {
    object-fit: cover;
    object-position: left;
    width: 1056px;
    height: 500px;
    aspect-ratio: 1056 / 500;
}

@media only screen and (max-width: 1000px) {
    .columns2vfz {
        grid-row-gap: 40px;
    }
}

@media only screen and (min-width: 1001px) {
    .ferrari1vBH, .columns2vfz {
        grid-template-columns: 1fr 1fr;
    }
}
.columns2vfz {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 100px;
    padding-bottom: 40px;
}

.columns2vfz h2 {
    font-size: 2.25rem;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.landing2Gps blockquote {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.45;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

.link3Vpv {
    font-weight: 500;
    margin-right: 24px;
}

.link3Vpv svg {
    margin-right: 6px;
    vertical-align: -2px;
}

.money3NdV {
    opacity: 0.7;
    vertical-align: -3px;
    margin: 0 5px;
}

svg {
    fill: currentcolor;
}

a {
    text-decoration: none;
    color: #0b7ed0;
}

.footerSy6B {
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
    margin-top: 24px;
    padding: 24px 0;
}

.footerSy6B menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerSy6B menu li {
    padding: 0;
    margin: 0;
    display: block;
}

.footerSy6B menu li a {
    padding: 4px 0;
    display: block;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}

.copy2CzI {
    font-size: 0.875rem;
    line-height: 140%;
    color: #808080;
    display: flex
;
}


.copy2CzI .logo1Thp {
    margin-right: 16px;
}

.copy2CzI .about1uw1 {
    flex: 1;
}

.copy2CzI .about1uw1 .twitterIcon1g61 {
    vertical-align: -2px;
    margin-right: 2px;
}

.copy2CzI a {
    color: inherit;
    text-decoration: underline;
    margin-right: 16px;
}

@media only screen and (min-width: 1001px) {
    .ferrari1vBH, .columns2vfz {
        grid-template-columns: 1fr 1fr;
    }
}

.ferrari1vBH {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin: 1.875rem 0;
}

@media only screen and (min-width: 1001px) {
    .ferrari1vBH {
        /* grid-template-columns: 1fr; */
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.ferrari1vBH .item2omU {
    display: flex;
    padding: 12px;
    color: #000;
    border-radius: 4px;
}

.ferrari1vBH .item2omU .info1x6k {
    flex: 1;
    margin-left: 12px;
}

.ferrari1vBH .item2omU .info1x6k .title-ME6 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.ferrari1vBH .item2omU .info1x6k p {
    color: #1a1a1a;
    margin: 0 !important;
    padding: 0 !important;
}

.footerSy6B {
    margin-top: 24px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
    padding: 24px 0px;
}

.footerSy6B menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footerSy6B menu li {
    display: block;
    padding: 0px;
    margin: 0px;
}

.footerSy6B menu li a {
    display: block;
    color: rgb(51, 51, 51);
    font-size: 1rem;
    font-weight: 500;
    padding: 4px 0px;
}

.copy2CzI {
    font-size: 0.875rem;
    line-height: 140%;
    color: rgb(128, 128, 128);
    display: flex;
}

.copy2CzI .logo1Thp {
    margin-right: 16px;
}

.copy2CzI .about1uw1 {
    flex: 1 1 0%;
}

.copy2CzI h5 {
    font-size: 1rem;
    margin: 0px 0px 1px;
    display: block;
    font-weight: 600;
    padding: 0px;
}

.copy2CzI .about1uw1 .twitterIcon1g61 {
    vertical-align: -2px;
    margin-right: 6px;
}

.copy2CzI a {
    color: inherit;
    margin-right: 16px;
    text-decoration: underline;
}

.layout2ACP {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    column-gap: 70px;
}

.copy2CzI p {
    margin-bottom: 10px;
    margin-top: 0 !important;
    padding: 0 !important;
}

.message2nN3 blockquote {
    margin: 0 auto;
    max-width: 630px;
}

.message2nN3 blockquote a {
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .devices13GI .devicesImage2WsX {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1001px) {
    .devices13GI {
        background-size: 599px 589px, 631px 532px;
        background-position: calc(50vw - 1100px) 80px, calc(50vw + 550px) 20px;
    }
}
.devices13GI {
    background-repeat: no-repeat;
    background-image: url(/images/blob-devices-left.jpg), url(/images/blob-devices-right.jpg);
    background-size: 100%;
    background-position: -70vw bottom, 70vw bottom;
}

.footerSy6B li a:hover {
    text-decoration: underline;
}